body {
  padding-top: 50px;
}
.repo-list-stats {
  float: right;
  margin-top: 6px;
  font-weight: bold;
  color: #888;
}

.repo-list-stat-item {
   display: inline-block;
   margin-left: 8px;
 }

.repo-list-meta {
  color: #888;
}

/* sticky footer begin */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#main {
  flex: 1;
}

.footer {
  background-color: #f5f5f5;
  text-align: center;
  padding: 15px;
}
/* sticky footer end */
